# folder
/data
/20220708
/.idea
/code/__pycache__
# file
/.gitingore
/.DS_Store
/record.json
/add.npz
/rmv.npz

/code/.Rhistory
/code/test.py
/code/compare.py
/code/figure.py
/code/gephi.csv
/code/gephi_data.py
/code/heatmap.R
/code/count.py
/code/train-bp.py
/code/validation.py
/code/validationbp.py
/code/param.py
/code/fig_data.json

/data/generate_materials/*
/data/log/*
/data/validation
/data/validationbp
/data/topo.csv
/data/topo1.csv
/data/support_materials/BIOGRID-ORGANISM-Homo_sapiens-4.4.203.mitab.txt
/data/support_materials/GSE30931_boxPlot.png
/data/support_materials/GSE30931_exprSet.csv
/data/support_materials/GSE30931_PCA.png
/data/support_materials/GSE30931_series_matrix.txt
/data/support_materials/uniprot_sprot_human.dat
/data/support_materials/uniprot_sprot_human.dat.gz


